.delete-community{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  border-top-left-radius: 10px;
  background: rgb(255, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
}

.button {
    background: #0289CD;
    background: -webkit-linear-gradient(left, #0289CD 1%, #b3dbf0 99%);
    background: -o-linear-gradient(left, #0289CD 1%, #b3dbf0 99%);
    background: linear-gradient(to right, #0289CD 1%, #b3dbf0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0289CD', endColorstr='#b3dbf0', GradientType=1);
    border-radius: 60px;
	color: #e3fede;
}
