/* Main */
* {
  font-family: 'Quicksand', sans-serif !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  height: 100%;
  margin-top: 3.5em;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#header, #map, #footer {
  position: absolute;
}

#header {
  height: 3.5em;
  width: 100%;
}

#map {
  top: 3.5em;
  bottom: 0px;
  width: 100%;
}

.fab {
  background: darken(_palette(accent2, bg), 12);
  color: _palette(accent2, fg);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#scan-here {
  @include icon('\f002');
  position: fixed;
  left: 50%;
  margin-left: -15px;
  bottom: 1.5em;
  &.disabled {
    opacity: 0.5;
  }
}
.search-modal-button{
  position: absolute;
  top: 7.5em;
  right: 13px;
  margin-top: 0;
  padding: 0!important;
  width: 26px;
  line-height: 26px;
  height: 26px;
}

.search-results{
  padding:0;
  margin:0;
  .search-result{
    padding:0;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    cursor: pointer;
    list-style:none;
    display: flex;
    align-items: center;
    .left-column{
      display: flex;
      flex:1;
      background: #eaeaea;
      &:hover{
        background:grey;
        color: #fff;
      }
    }
    .right-column{
      display: flex;
      .fa{
        font-size: 14px;
        margin-top: 0;
        height:50px;
        background:#3b3b3b;
        border-radius:0;
        padding: 0 0.75em;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        @media(min-width:768px){
          font-size:24px;
        }
      }
    }

    span.i-icon {
      width: 50px!important;
      height: 50px!important;
      min-width: 50px!important;
      display: inline-block;
      background-position: center!important;
      background-size: cover!important;
    }
    .name{
      display: flex;
      align-items:center;
      margin-left: 10px;
      font-size:12px;
      @media(min-width:768px){
        font-size:16px;
      }
    }
  }
}
.raid-widget-popup{
  top:4.5em!important;
  max-height:calc( 100% - 5.5em );
  overflow-y: auto;
}
.search-widget-popup{
 top:4.5em!important;
  max-height:calc( 100% - 5.5em );
  overflow-y: auto;
  .search-modal.ui-dialog-content{
    padding:0;
    #search-tabs{
      border:0;
      padding:0;
      ul.ui-tabs-nav{
        display: flex;
        padding: 0;
        background: transparent;
        border: 0;
        border-bottom:1px solid grey;
        margin-top:5px;
        li{
          flex:1;
          margin: 0;
          border-radius: 0;
          &.ui-state-active{
            border-color: #3b3b3b;
            background-color: #3b3b3b;
          }
          a{
            text-align:center;
            font-size:12px;
            width:100%;
            @media(min-width:768px){
              font-size:16px;
            }
          }
        }
      }
      .ui-tabs-panel{
        padding:0;
      }
    }
  }
  input{
    width: calc( 100% - 4px);
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 2px;
    background: #eceaea;
    border: 0;
    margin-right: 2px;
    border: 1px solid grey;
  }
}
.ui-dialog{
  .ui-dialog-content{
    margin:0;
  }
}
